.container {
  background: #B57800;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -220px 0 0 -253px;
}

.back {
  border-radius: 8px 8px 0px 0px;
}

.icon {
  width: 40px;
  margin: 0 5 0 5;
}

.links {
  text-align: center;
}

body {
  background-color: #00265E;
}

h1 {
  text-align: center;
  font-family: 'Karla', sans-serif;
}
